<div class="card">
  <div class="card-header">
    Apply for job
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit(Form)' #Form="ngForm">
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input type="text" class="form-control" #propName="ngModel"
               ngModel name="Name" required minlength="5">
        <span *ngIf="!propName.valid && propName.touched" class="error-block">
          <span *ngIf="propName.errors.required">Please provide name</span>
          <span *ngIf="propName.errors.minlength">Name must be atleast 5 char long</span>

        </span>
      </div>         

      <div class="form-group col-12">
        <label for="email">Email</label>
        <input type="text" class="form-control" ngModel name="Email">
      </div>

       <div class="form-group col-12">
        <label for="resume">Resume</label>
        <input type="text" class="form-control" >
      </div>
      <br />
      <div class="form-group col-12">
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
      </div>

    </form>
  </div>
</div>

